.profilepage {
  height: 100vh;
  width: 100%;
  background-image: url(https://img.freepik.com/free-photo/fantasy-style-gateway-portal-with-desert-landscape_23-2151239092.jpg?uid=R140827758&ga=GA1.1.320141760.1709886633&semt=ais_user);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(10px);
  color: white;
}
header button {
  width: 13%;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  background-color: rgb(104, 28, 236);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
header button:hover{
  background-color: rgb(63, 17, 141);

}
section {
  height: 450px;
  width: 60%;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  border: 0.1px solid rgb(104, 28, 236);
  padding: 20px;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.data-head h2 {
  color: white;
}
.clr {
  border-color: rgb(104, 28, 236);
}
.data-box {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section form {
  width: 80%;
  color: white;
  text-align: left;
  font-size: large;
  margin-top: 50px;
  margin-left: 50px;
}
section input {
  width: 90%;
  padding: 8px;
  margin-left: 50px;
  border: none;
  border-bottom: 2px solid #000;
  color: white;
  outline: none;
  background: none;
  font-size: 16px;
}
section label {
  width: 20%;
}
::placeholder {
  color: rgb(196, 194, 194);
}

.data-box button {
  width: 15%;
  padding: 8px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  background-color: rgb(104, 28, 236);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}
